[submodule "optical_flow/src/c_library_v1"]
	path = optical_flow/src/c_library_v1
	url = https://github.com/mavlink/c_library_v1
[submodule "optical_flow/src/c_library_v2"]
	path = optical_flow/src/c_library_v2
	url = https://github.com/mavlink/c_library_v2
